colors = {
  bg-light: #FFFDEC,
  bg-medium: #E5E3CE,
  text-dark: #000000,
  text-medium: #797876,
  accent: #FFC85F,
  error: #FD8676
}
colors-admin = {
  bg-light: #F1FCFB,
  bg-medium: #CEE5E4,
  text-dark: #000000,
  text-medium: #B5AEBC,
  accent: #96E4AC,
  error: #E496A9
}

.normal-colors,
:root {
  --color-bg-light: #FFFDEC
  --color-bg-medium: #E5E3CE
  --color-text-dark: #000000
  --color-text-medium: #A6A399
  --color-accent: #FFC85F
  --color-accent-z: #3389cc
  --color-accent-transparent: #FFC85F55
  --color-error: #FD8676
}

.admin-cyan {
  --color-bg-light: #F1FCFB
  --color-bg-medium: #CEE5E4
  --color-text-dark: #000000
  --color-text-medium: #B5AEBC
  --color-accent: #21cc99
  --color-accent-z: #2255ff
  --color-accent-transparent: #96E4AC99
  --color-error: #E496A9
}

gradient-hover(accent-color = #ffff00, accent-transparent = #ffff00cc, start-padding-v = 4px) {
  background-image: linear-gradient(180deg, transparent 0% 50%, accent-transparent 50% 100%)
  transition: all 120ms
  margin-top: start-padding-v
  margin-bottom: start-padding-v
  background-position: 0 40%
  background-size: 100% 200%

  &:hover {
    margin-top: 0
    margin-bottom: 0
    padding-top: start-padding-v
    padding-bottom: start-padding-v
    background-image: linear-gradient(180deg, transparent 0% 50%, accent-color 50% 100%)
    background-position: 0 100%
  }
}
