colors = {
  bg-light: #FFFDEC,
  bg-medium: #E5E3CE,
  text-dark: #000000,
  text-medium: #797876,
  accent: #FFC85F,
  error: #ff0000
}
colors-admin = {
  bg-light: #F1FCFB,
  bg-medium: #CEE5E4,
  text-dark: #000000,
  text-medium: #B5AEBC,
  accent: #96E4AC,
  error: #E496A9
}

gradient-hover(accent-color = #ffff00, start-padding-v = 4px) {
  accent-transparent = alpha(accent-color, 0.6)

  background-image: linear-gradient(180deg, transparent 0% 50%, accent-transparent 50% 100%)
  transition: all 120ms
  margin-top: start-padding-v
  margin-bottom: start-padding-v
  background-position: 0 40%
  background-size: 100% 200%

  &:hover {
    margin-top: 0
    margin-bottom: 0
    padding-top: start-padding-v
    padding-bottom: start-padding-v
    background-image: linear-gradient(180deg, transparent 0% 50%, accent-color 50% 100%)
    background-position: 0 100%
  }
}
