
padding-h() {
  padding-left: arguments
  padding-right: arguments
}

padding-v() {
  padding-top: arguments
  padding-bottom: arguments
}

margin-h() {
  margin-left: arguments
  margin-right: arguments
}

margin-v() {
  margin-top: arguments
  margin-bottom: arguments
}

breakpoints = {
  small: 768px
  medium: 1080px
  large: 1440px
}

break-screen(min_w = 0px, max_w = 0px){
  @media only screen and (min-width: {min_w}) and (max-width: {max_w})
    {block}
}


.container {
  padding-h: auto
  +break-screen(0, breakpoints.small)
    padding-h: 16px
  +break-screen(breakpoints.small, breakpoints.medium)
    width 720px
  +break-screen(breakpoints.medium, breakpoints.large)
    width 960px
  +break-screen(breakpoints.large)
    width 1280px
}

.input {
  background: transparent
  border: none

  accent = colors.accent
  accent-transparent = alpha(accent, 0.6)

  border-bottom: solid accent-transparent 4px
  font-family: fonts-title
  font-size: 24px
  margin-bottom: 4px
  margin-h: 8px
  padding-h: 4px
  transition: all 120ms

  &:focus {
    border-bottom: solid accent 8px
    margin-bottom: 0px
  }

  &::placeholder {
    color: colors.text-light
  }

  &.body {
    font-family: fonts-body
  }
}

.btn {
  font-family: fonts-title
  font-size: 24px
  font-weight: bold
  text-transform: uppercase
  background: none
  border: none

  gradient-hover(colors.accent, 4px)

  margin-h: 8px
  padding-h: 4px
}

.content a,
.btn-span {
  gradient-hover(colors.accent, 4px)

  margin-h: 4px
  padding-h: 4px
}
