fonts-title = 'Barlow Condensed', 'Segoe UI', Helvetica, Arial, sans-serif
fonts-semicondensed = 'Barlow SemiCondensed', 'Segoe UI', Helvetica, Arial, sans-serif
fonts-body = Barlow, 'Segoe UI', Helvetica, Arial, sans-serif
