// Global styles and variables goes here
@import 'colors'
@import 'fonts'
@import 'sizes'

padding-h() {
  padding-left: arguments
  padding-right: arguments
}

padding-v() {
  padding-top: arguments
  padding-bottom: arguments
}

margin-h() {
  margin-left: arguments
  margin-right: arguments
}

margin-v() {
  margin-top: arguments
  margin-bottom: arguments
}
