/* # spaces = {
#    0: 0px,
//   1: 4px,
//   2: 8px,
//   3: 12px,
//   4: 16px,
//   5: 24px,
//   6: 32px,
//   7: 48px,
//   8: 64px,
//   9: 96px,
//   10: 128px
// }
*/
font-sizes = {
  body-smaller: 12px,
  body: 16px,
  body-larger: 20px,
  small-title: 24px,
  medium-title: 32px,
  large-title: 48px,
  huge-title: 72px
}
