spaces = {
  _0: 0px,
  _1: 4px,
  _2: 8px,
  _3: 12px,
  _4: 16px,
  _5: 24px,
  _6: 32px,
  _7: 48px,
  _8: 64px,
  _9: 96px,
  _10: 128px
}
font-sizes = {
  body-smaller: 12px,
  body: 16px,
  body-larger: 20px,
  small-title: 24px,
  medium-title: 32px,
  large-title: 48px,
  huge-title: 72px
}

padding-h() {
  padding-left: arguments
  padding-right: arguments
}

padding-v() {
  padding-top: arguments
  padding-bottom: arguments
}

margin-h() {
  margin-left: arguments
  margin-right: arguments
}

margin-v() {
  margin-top: arguments
  margin-bottom: arguments
}

pic-sizes = {
  avatar: 50px,
}

table-sizes = {
  user: 70px,
}